<!--
  Generated template for the FirstPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>First Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<p>This is the first page.</p>
<button ion-button color="secondary" (click)="gotoSecondPage()">Go to Second Page</button>
</ion-content>
