<ion-header>
  <ion-navbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button color="primary" (click)="btn1Clicked()">Click</button>
  <div></div>
  <button ion-button color="secondary" (click)="btn2Clicked()">Go to First Page</button>
</ion-content>
