<!--
  Generated template for the SecondPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Second Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<p>This is the second page.</p>
<div></div>
<button ion-button color="primary" (click)="backToHome()">Back to Home</button>
</ion-content>
